<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil</h4>
                <h6 class="card-subtitle">Ajustes de mi perfil</h6>
                <form  [formGroup]="perfilForm" (ngSubmit)="actualiarPerfil()" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input  formControlName="nombre" required type="text" class="form-control" id="exampleInputuname" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input formControlName="email" [readOnly]="usuario.google"  required type="email" class="form-control" id="exampleInputEmail1" placeholder="Correco electronico">
                        </div>
                    </div>
                    <button type="submit" [disabled]="perfilForm.invalid" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> 
                        Guradar cambios
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>

                <div class="row mt-4">
                    <div class="col-6">
                        <input (change)="cambiarImagen($event.target.files[0])"title="Cambiar Imagen" type="file" class="input-avatar mt-5 mb-3">
                    </div>
                    <div class="col-6 mb-2">
                        <!-- <img src="../../../assets/images/captura.png" class="img-thumbnail img-avatar mb-4" alt=""> -->
                        <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" alt="Imagen del usuario 😍 " class="img-thumbnail img-avatar mb-4">
                         <img *ngIf="imgTemp" [src]="imgTemp" alt="Imagen del usuario 😍 " class="img-thumbnail img-avatar mb-4">
                    </div>
                </div>


                <button  (click)="subirImagen()" type="button" [disabled]="!imagenSubir" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i> 
                    Cambiar imagen
                </button>
            </div>
        </div>
    </div>
</div>