.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector  {
    cursor: pointer !important;
}
#cursor{
    cursor: pointer !important;
}

/* scroll top */

.ir-arriba {
    display: flex;
    padding: 20px;
    background: #fcae70;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 35px;
    right: 20px;
    border-radius: 35px;
    background: url('./assets/images/flecha.png');
    background-size: cover;
}

.ir-arriba:hover {
    border: 2px solid #fcae70;
    -webkit-box-shadow: 13px 13px 31px -6px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 13px 13px 31px -6px rgba(0, 0, 0, 0.77);
    box-shadow: 13px 13px 31px -6px rgba(0, 0, 0, 0.77);
}

.w100 {
    width: 100px;
}
.w130 {
    width: 130px;
}
.w140 {
    width: 140px;
}
.avatar {
    border-radius: 100%;
    width: 40px;
}